@import "forms.css";

body {
    font-family: "Trebuchet MS", "Arial", sans-serif;
    font-size: 0.9em;
    text-align: left;
}
#content, #header, #footer {
    margin: 0 auto;
    width: 1000px;
}

/* Styling */
h1,h2,h3,h4,h5,h6 {
    font-size: 1em;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: normal;
}
h3 {
    font-size: 1.3em;
    font-weight: normal;
}
h4 {
    font-size: 1.2em;
}

#header-title {
    font-size: 2.5em;
}

#menu {
    border-bottom: 1px dotted #EEE;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu li {
    display: inline;
    padding: 10px;
    font-size: 1.2em;
}
#menu li a {
    text-decoration: none;
    font-weight: bold;
}

#menu li a:hover {
    color: #888;
}

a, a:visited {
    color: #333;
}

a:hover {
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td,th {
    border: 1px solid #EEE;
    padding: 2px;
    padding-left: 5px;
}
th {
    background: #EEE;
}

.messages {
    list-style: none;
    padding: 0;
}

.messages li {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    border: 1px solid;
}

.errors, .fatals {
    background: #FAA;
    border-color: #F66;
}

.infos {
    background: #EEE;
    border-color: #999;
}

.action {
    width: 100%;
    margin-top: 10px;
    text-align: right;
}


